$primary_clr: #415fe2;
.generate_ocr_container {
  padding-inline: 23px;
  font-family: "Roboto", sans-serif;
}

// .custom_modal{
//   // width:320px;
//   // height: 214px;
//   border-radius: 50px !important;
// // background-color: #F9F9F9;
// border: none !important;
//  font-family: "Roboto", sans-serif;
//  padding-block: 1px;
// }

// .trans_head{
//   // background-color:#7f7f7f;
//   border-bottom:0 none !important;
//   // background-color: aliceblue;
// }

.button,
.video {
  display: block;
}


